@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// ========================images============================
#bgimg1 { 
    background-image: url("../jpegs/StuFace.jpg");
}
#bgimg2 { 
    background-image: url("../jpegs/StuHorse.jpg");
}
#bgimg3 {
	background-image: url("../jpegs/StuSitting.jpg");
}

.image {
    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
//========================================================= 

//==========================MAIN===========================

body {
	min-width: 505px;
	text-align: center;
}
ul {
	list-style: none;
}
.caption {
	background-color: #111;
	height: 140px;
}

.caption span.border {
    color: #fff;
    padding: 18px;
    font-size: 45px;
    letter-spacing: 10px;
}
p#text-block {
	overflow-wrap: break-word;
    padding: 1vh 5vw 1vh 5vw;
    color: #111;
}

//=========================HEADER==========================

section {
	div {
		h4, p {
			color: #fff;
		}
	}
}
//=======================ICON=LINKS=======================

a#aria-desc {
	color: transparent;
}


//=======================Biography========================
#bio {
	background-color: white;
	h3 {
		padding-top: 2vh;
	}
}
//========================SKILLS===========================

#skills {
	background-color: white;
}

div .panel {
	height: 460px;
	text-align: left;
}

div.large.columns {
	height: 721px;
}











